language: node_js
node_js:
  - "10"
deploy:
	provider: heroku
  api_key:
    secure: aYgGmbvFAmCH7d+SHzzWTh/AHLWdptSxGHtvv/wLKKdAnOZYTTr3bfxtOUHgAhsy0Ltl+FZbbuaD3yOxx9/pdleE2mqTo9uunlCUUWlBC6DJCzpWdNYhe9F0a981k4WsRAC8mbvvpw3REj1bhBQ+66ka3gGR4XDX99lc9imC3TgW9X1nMoSfx88SwdjapN0+T3To0QpM4bZWwKFaAkCMnRyO0+9G2I3HhwAwOi6ulThWpx5zxaZoMNLUJcktXPuaK1pv6cEOq7XSRdfTqfWaL0PAY6+AUyHFXntCLIdHgtJgOGExxfIiCth3HwZSvtu7TQXfYn7ao3Fy0kL7QU50vC+UqPNC1jbTigjHdcpc6G62/ry7CSAiSibyJrdNKk1tnsylsOlYCQNJPPwOuvA7102r0gMgflLavmj5Qqcw8QALhifjn5bJ3dYROWo1nWK9of1796JilekrwfAqjg6OZ7hPpF8sSHPP9bGNKt3B7V8pEhS+/zYgC00seVbRrTVTBslxYOTsZP3D9M/Lr189bA3Zw9/9idx6F6hxXCvzPr9NuSxM7t64peG5VerPOCjVjA2uZItkV4fDm5sQDXgjm6+51Oc6tyyfg6AzuaOGq2J8KwBPKB926UIcRJcCG3ugp9tCxVA4Gtl7CQSDH/HiF4NF7U734eUEUCriRhhTXHs=
app: biotree-backend
