language: node_js
node_js:
  - "10"
deploy:
  provider: heroku
  api_key:
  	secure: Dt5gJxLcJ8HjwrR6BFAcrVrzEVshn5yWBwjLwgrI9GgDzG8Xip1KlX/pMyUoXROGG+U7gS+L1zWPkKDboyEM8xI8pEEVhWVnE4/sV5ydrmKzIVEEbst3lLWMx1nmzNcD7Do1vOrZMOBztvjmyY/BzWI1Gjdzkk/4bdOWK39xsgzObbDSI3qege6UKpic2uEGMTIFeHeHTHF6ouOMcdnuQziIedSjX41gzMHDh4lbsQd+WecCVTU96DbNbKnN0thS7MV2VMNT9saH8oDI6Me+99zSkd8zLwvMmsg5vAolf/KtJgylXwsIpNPtQRBCP0frO+TZixrShKHj7WE6OxYsh14IWQAKPEToVXTh1SK+MocnZp1WeX+tlKp39LNjphGvLRIYcQ2UeAw++pkGFq3EdVtZdJZWLazRzNhjNOzD4JE0qcWsOgcBPG0ou7hzJmVHoM1AzyaNXSsrc4GhHdpJ1UMbUNQyrMcKdYpzxWBvZUB3HCVhVy+soj5TV9hey69o1bb9yhO//Eem0iyX+gbXYMLV32MX09xEmk5SJ0yF9xYhszpYFKRqp4XrQx4B4xEfgcxSv8zzsNHfsqeB1VkeOnT44MR6gDgzZxqkl4hdC3ul410hW2wwX8oa8jYPqc4L7YPKozHTK4YbV3frWXfbP+wSxV3suJC7+3mXevGKfUU=
